@import './var.scss';
@import './mixin';
@import './webfont/style.css';
@import './icon.scss';

body{
  font-size: 14px;
}

.sp-fixed-height{
  &__one{
    height: calc(100vh - 64px);
  }
  &__two{
    height: calc(100vh - 126px);
  }
}
.sp-filter{
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  .search{
    width: 272px;
  }
}
.sp-container{
  background: #FFF;
  border-radius: 10px;
  margin: 32px;
  position: relative;
  overflow: hidden;
  &__table{
    min-height: 528px;
    .handler-icon {
      text-decoration: none;
      i{
        font-size: 24px;
        vertical-align: bottom;
      }
    }
  }
  &__footer{
    padding: 24px 28px;
    display: flex;
    justify-content: space-between;
    .handler{
      font-size: 12px;
      color:rgba(0,0,0,0.65);
      .el-button{
        margin-left: 20px;
      }
    }
  }
}
.sp-detail{
  width: 724px;
  height: 100%;
  background:$bgcolor-edit;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  .back{
    width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    color: $color-primary;
    font-size: 18px;
  }
  .header{
    padding: 16px 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .body{
    flex: 1;
  }
  .footer{
    padding: 24px 24px;
    background: #FFF;
    box-sizing: border-box;
    text-align: right;
  }
  .sp-form{
    .el-input__inner{
      background: #FFF;
    }
  }
}
.sp-form{
  &,.items{
    display: flex;
    flex-wrap: wrap;
    // padding: 24px 24px 24px 10px;
    padding: 24px;
  }
  &.condensed{
    .item{
      margin-bottom: 6px;
    }
  }
  .item{
    width: 50%;
    margin-bottom: 24px;
    .el-form-item__label{
      line-height: 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      // font-weight:500;
      color:rgba(0,0,0,0.8);
    }
    .el-form-item__content{
      // margin-right:18px;
      line-height: 32px;
      .inner{
        color:rgba(0,0,0,0.65);
        @include text-ellipsis();
      }
    }
    .el-select, .el-input{
      width: 100%;
    }
    &.full{
      flex: 0 0 100%;
    }
    &.top-align{
      .el-form-item__label{
        align-items: flex-start;
        padding-top: 6px;
      }
    }
  }
  &.single{
    .item{
      width: 100%;
    }
  }
}

.sp-material{
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.sp-material-sidebar{
  flex: 0 0 283px;
  padding: 24px;
  border-right: 1px solid rgba(233,233,233,1);
  .back{
    width:32px;
    height:32px;
    padding:0;
    background:rgba(0,0,0,0.05);
    border: none;
    font-size: 20px;
  }
  .intro{
    padding: 16px;
    margin-top: 10px;
    .headimg{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #eee;
      display: block;
    }
    .username{
      font-size:16px;
      font-weight:500;
      color:rgba(0,0,0,1);
      margin: 10px 0 16px;
    }
    .number{
      font-size:12px;
      line-height: 20px;
      color:rgba(0,0,0,0.425);
      padding: 2px 0;
      margin: 16px 0;
    }
    .info{
      >div{
        padding: 6px 0;
        color:rgba(0,0,0,0.85);
      }
      i{
        width: 24px;
      }
    }
    .handler{
      position: absolute;
      bottom: 32px;
      .is-shadow{
        margin-top: 12px;
      }
    }
  }
}
.sp-material-tabs{
  width: 100%;
  /deep/{
    .el-tabs__header{
      border-radius: 0 10px 0px 0px;
      background: rgba(229, 232, 236, 1);
      .el-tabs__nav{
        border: none
      }
      .el-tabs__item{
        padding: 6px 40px !important;
        height: auto;
        border: none;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.8);
        &.is-active{
          background: #FFF;
          color: rgba(0, 0, 0, 1);
          font-weight: 500;
          border-radius: 10px 10px 0px 0px;
        }
        &:first-of-type{
          border-radius: 0 10px 0px 0px;
        }
      }
      .el-tabs__nav-next, .el-tabs__nav-prev{
        line-height: 52px;
        text-align: center;
        width: 20px;
      }
    }
    .el-tabs__content{
      display: none !important
    }
  }
}
.sp-material-content{
  .title{
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    font-size:16px;
    font-weight:500;
    color:rgba(0,0,0,0.85);
    line-height: 24px;
    &.sub{
      padding: 16px 0;
      font-size:14px;
      color:rgba(0,0,0,1);
    }
    i{
      cursor: pointer;
      font-size: 24px;
    }
  }
  .block{
    border-top: 1px solid rgba(233,233,233,1);
    &:first-of-type{
      border-top: none
    }
  }
  .form{
    padding: 0 40px 0 64px;
    margin: 0;
    .footer{
      padding: 16px 0;
      text-align: right;
    }
  }
}
.sp-date-selection{
  display: -webkit-box;
  .handle-left,.handle-right{
    cursor: pointer;
    width:32px;
    height:32px;
    background:rgba(0,0,0,0.05);
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.2);
  }
  .handle-center{
    font-size: 20px;
    font-weight: 500;
    color:rgba(0,0,0,1);
    letter-spacing:2px;
    line-height: 32px;
    margin: 0 10px;
  }
}

.sp-salary{
  box-shadow:0px 2px 5px 0px rgba(0,0,0,0.05);
  border-radius:10px;
  display: flex;
  background: #FFF;
  margin: 0 32px 20px;
  .header{
    font-size:20px;
    font-weight:500;
    color:rgba(0,0,0,1);
    padding: 31px 56px 0;
  }
  .body{
    flex: 1;
    border-left: 1px solid rgba(221, 221, 221, 1);
  }
  .inner{
    border-bottom: 1px solid rgba(232,232,232,1);
    display: flex;
    justify-content: space-between;
    &:last-of-type{
      border-bottom: none;
    }
  }
  .list-block,.block{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-block{
    font-size:16px;
    color:rgba(0,0,0,1);
    position: relative;
    padding: 0 16px;
    flex: auto;
    &::before{
      content: '';
      position: absolute;
      right: 0;
      height: 28px;
      width: 1px;
      background: rgba(221, 221, 221, 1);
    }
    &:last-of-type::before{
      content: none
    }
    &.view{
      max-width: 70px;
      color: rgba(127, 127, 127, 0.6)
    }
    .block{
      flex-direction: column;
      padding: 18px;
    }
    .num{
      font-size: 20px;
      font-weight: 500;
      font-family:DINAlternate-Bold,DINAlternate;
    }
    .label{
      font-size:14px;
      color:rgba(127,127,127,1);
      line-height:26px;
    }
  }
}
