@import "./var.scss";
@import "~element-ui/packages/theme-chalk/src/index";
.el-button--default{
  border-color: #FFF;
}
.el-button.el-button--default.is-shadow{
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
}
.el-button.el-button--default.is-cancel{
  background:rgba(248,248,248,1);
}
.el-button.el-button--primary.is-shadow{
  box-shadow:0px 2px 10px 0px rgba(34,14,219,0.3);
}
.el-pagination{
  padding: 0;
}
.el-pagination.is-background{
  .btn-prev,
  .btn-next,
  .el-pager li {
    margin: 0 4px;
    min-width: 32px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .el-input .el-input__inner {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    padding-right: 30px;
  }
  .el-input__suffix {
    background: #FFF;
    height: 34px;
    width: 30px;
    border-radius: 4px;
    top: -1px;
  }
}
.el-input, .el-textarea{
  .el-input__inner, .el-textarea__inner{
    border: none;
    background: rgba(248,248,250,1);
  }
}
.el-select, .el-input, .el-textarea{
  &.is-white{
    .el-input__inner, .el-textarea__inner{
      border: none;
      background: #FFF;
    }
  }
}
.el-select{
  .el-input .el-select__caret{
    color: #AEB2B7;
  }
}
.el-table th, .el-table td{
  padding: 16px 0;
  &.is-leaf{
    border-bottom: none;
  }
  >.cell{
    line-height: 24px;
  }
  &:first-of-type{
    .cell{
      padding-left: 32px;
    }
  }
}
.el-table tr.current-row{
  > td{
    color: $color-primary;
  }
}
.el-table::before{
  z-index: auto;
}
.el-table.blue{
  th{
    padding: 15px 0;
    background-color: rgba(218, 229, 255, 1);
    color: rgba(29, 77, 185, 0.5);
  }
}

.el-scrollbar{
  &.is-horizontal{
    >.el-scrollbar__wrap{
      overflow-y: hidden
    }
    >.el-scrollbar__bar.is-vertical{
      display: none;
    }
  }
  &.is-vertical{
    >.el-scrollbar__wrap{
      overflow-x: hidden
    }
    >.el-scrollbar__bar.is-horizontal{
      display: none;
    }
  }
}
.el-dialog{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin:0 !important;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  max-height:calc(100% - 30px);
  max-width:calc(100% - 30px);
}
.el-dialog__header{
  border-bottom: 1px solid rgba(233,233,233,1);
  padding: 16px 24px;
  box-sizing: border-box;
}
.el-dialog__body{
  padding: 0;
  flex:1;
  overflow: auto;
}
.el-dialog__footer{
  padding: 24px;
  padding-top: 12px;
}
.el-dialog__title{
  font-weight: 500;
}
.el-popover{
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
}

.el-message-box__title{
  font-size: 16px;
}
.el-message-box__status{
  top: 34px;
  left: 10px;
}
.el-message-box__status + .el-message-box__message{
  padding: 22px 17px 22px 57px;
}

.el-loading-mask{
  background-color: rgba(255, 255, 255, 0.6);
}
.v-modal, .el-dialog__wrapper{
  left: 80px;
}
.el-button + .el-dropdown,
.el-dropdown + .el-button,
.el-button + .el-button,
.el-dropdown + .el-dropdown{
  margin-left: 6px;
}
.el-button [class*="icon-"] + span{
  margin-left: 5px;
}
.el-tree{
  background: transparent;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: rgba(234,234,234,1);
}
.el-switch{
  &.inner-txt{
    z-index: 0;
    .el-switch__label{
      position: absolute;
      font-size: 12px;
      margin: 0;
      height:14px;
      line-height:14px;
      transform : scale(0.8,0.8) ;
      *font-size:10px;
      opacity: 0;
      transition: opacity 0.3s;
      &.el-switch__label--left{
        right: 8px;
        color:rgba(105,114,114,1);
        &.is-active{
          visibility: visible;
          opacity: 1;
          z-index: 1;
        }
      }
      &.el-switch__label--right{
        left: 8px;
        color:rgba(27,110,114,1);
        &.is-active{
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }
}
.el-dropdown-menu{
  padding: 0;
  .el-dropdown-menu__item {
    padding: 5px 20px;
    &:not(.is-disabled):hover,&:focus {
      background-color: rgba(0,0,0,0.05);
      color:rgba(0,0,0,0.65);
    }
  }
}
.el-slider__runway{
  width: auto;
  margin: 13px 10px;
}