@import "./var.scss";
@import "~element-ui/packages/theme-chalk/src/index";
.el-button--default{
  border-color: #FFF;
}
.el-button.el-button--default.is-shadow{
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
}
.el-button.el-button--primary.is-shadow{
  box-shadow:0px 2px 10px 0px rgba(34,14,219,0.3);
}
.el-pagination{
  padding: 0;
}
.el-pagination.is-background{
  .btn-prev,
  .btn-next,
  .el-pager li {
    margin: 0 4px;
    min-width: 32px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .el-input .el-input__inner {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    padding-right: 30px;
  }
  .el-input__suffix {
    background: #FFF;
    height: 34px;
    width: 30px;
    border-radius: 4px;
    top: -1px;
  }
}
.el-input, .el-textarea{
  .el-input__inner, .el-textarea__inner{
    border: none;
    background: rgba(0, 0, 0, 0.03);
  }
}
.el-select, .el-input, .el-textarea{
  &.is-white{
    .el-input__inner{
      border: none;
      background: #FFF;
    }
  }
}
.el-select{
  .el-input .el-select__caret{
    color: #AEB2B7;
  }
}
.el-table th, .el-table td{
  &:first-of-type{
    .cell{
      padding-left: 32px;
    }
  }
}
.el-table tr.current-row{
  > td{
    color: $color-primary;
  }
}
.el-table::before{
  z-index: auto;
}
.el-scrollbar{
  &.is-horizontal{
    >.el-scrollbar__wrap{
      overflow-y: hidden
    }
  }
  &.is-vertical{
    >.el-scrollbar__wrap{
      overflow-x: hidden
    }
  }
}
.el-dialog{
  border-radius: 10px;
  .el-dialog__header{
    border-bottom: 1px solid rgba(233,233,233,1);
    padding: 16px 24px;
    box-sizing: border-box;
  }
  .el-dialog__body{
    padding: 0;
  }
  .el-dialog__footer{
    // border-top: 1px solid rgba(233,233,233,1);
    padding: 24px;
    padding-top: 12px;
  }
}
.el-popover{
  border-radius: 10px;
}
.el-tree{
  background: transparent;
}
.el-loading-mask{
  background-color: rgba(255, 255, 255, 0.6);
}
.v-modal, .el-dialog__wrapper{
  left: 80px;
}