@import './var.scss';
@import './mixin';
.clearfix{
  @include clearfix;
}
.is-blod{
  font-weight: 700;
}
.is-relative {
  position: relative;
}
.is-absolute {
  position: absolute;
}
.is-primary{
  color: $color-primary !important;
}
.is-white{
  color: #FFF !important;
}
.is-white-bg{
  background-color: #FFF !important;
}

.is-justify-center{
  justify-content: center;
}
.is-justify-end{
  justify-content: flex-end;
}
.is-justify-space-between{
  justify-content: space-between;
}
.is-justify-space-around{
  justify-content: space-around;
}
.is-rotate-90{
  transform: rotate(90deg);
}
.is-rotate-180{
  transform: rotate(180deg);
}
.is-large-padding{
  padding-left: 36px;
  padding-right: 36px;
}
/* transform-x */
.transform-x-leave-active,
.transform-x-enter-active {
  transition: transform .3s ease-in-out;
}
.transform-x-enter, .transform-x-leave-to {
  transform: translateX(-100%);
}
.transform-x-enter-to {
  transform: translateX(0);
}
/* transform-y */
.transform-y-leave-active,
.transform-y-enter-active {
  transition: transform .3s ease-in-out;
}
.transform-y-enter,
.transform-y-leave-to {
  transform: translateY(100%);
}
.transform-y-enter-to {
  transform: translateX(0);
}
/* transform-x */
.slide-left-leave-active,
.slide-left-enter-active {
  transition: transform .3s ease-in-out;
}
.slide-left-enter, .slide-left-leave-to {
  transform: translateX(100%);
}
.slide-left-enter-to {
  transform: translateX(0);
}
/* transform-x */
.slide-left-fade-leave-active,
.slide-left-fade-enter-active {
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.slide-left-fade-enter, .slide-left-fade-leave-to {
  transform: translateX(5%);
  opacity: 0;
}
.slide-left-fade-enter-to {
  transform: translateX(0);
  opacity: 1;
}
/*fade*/
.fade-leave-active,
.fade-enter-active {
  transition: all .3s;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}
